/* Flag container */
.flag-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
  gap: 5px;
  margin-top: 0;
}

/* Grid items */
.country-item {
  background-color: #eee;
  border: none;
  padding: 10px 5px;
  text-align: center;
  align-items: center;
}

.country-item:hover {
  background-color: #cfe;
}

.home-flag {
  background-color: #fc7;
  transition: background-color 0.5s ease-in-out;
}

.home-flag:hover {
  background-color: #f90;
}

.expand-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 0.8em;
}

.expand-button:hover {
  background-color: #45a049;
}

.visit-paragraph {
  display: none;
}

.visit-paragraph.show {
  display: block;
  margin-top: 10px;
  font-size: 0.9em;
  color: #333;
}
