/* Styles variables */
body[data-theme="default"] {
  --footer-bg-gradient: linear-gradient(
    0deg,
    rgba(102, 102, 102, 1) 0%,
    rgba(153, 153, 153, 1) 100%
  );
  --footer-text-color: #ffffff;
  --footer-link-color: #c7deff;
  --footer-link-visited-color: #d987ff;
}

body[data-theme="dark"] {
  --footer-bg-gradient: linear-gradient(
    180deg,
    rgb(43, 43, 43) 0%,
    rgb(73, 73, 73) 100%
  );
  --footer-text-color: #ffffff;
  --footer-link-color: #aac8f6;
  --footer-link-visited-color: #a113e2;
}

body[data-theme="seasonal"] {
  --footer-bg-gradient: linear-gradient(
    0deg,
    rgb(1, 114, 16) 0%,
    rgb(137, 233, 11) 100%
  );
  --footer-text-color: #ffffff;
  --footer-link-color: #aac8f6;
  --footer-link-visited-color: #a113e2;
}

body[data-theme="funky"] {
  --footer-bg-gradient: linear-gradient(
    180deg,
    rgb(92, 223, 16) 0%,
    rgb(218, 33, 33) 100%
  );
  --footer-text-color: #ffffff;
  --footer-link-color: #fff16f;
  --footer-link-visited-color: #003d19;
}

/* Footer styles */
#main-footer {
  background: var(--footer-bg-gradient);
  color: var(--footer-text-color);
  text-align: center;
  padding: 20px 0;
  width: 100%;
  left: 0;
  position: relative;
  bottom: 0;
  z-index: 997;
}

#main-footer a {
  color: var(--footer-link-color);
  text-decoration: none;
}

#main-footer a:hover {
  text-decoration: underline;
}

#main-footer a:visited {
  color: var(--footer-link-visited-color);
}

#logo-light-ray {
  position: relative;
  width: 100%;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff33;
  z-index: 1002;
}

/* Tube for the button */
#tube-for-the-button {
  position: sticky;
  top: calc(100vh - 100px - 5px);
  left: calc(100% - 80px);
  width: 60px;
  height: 5px;
  background-image: linear-gradient(
    to right,
    rgb(37, 37, 37) 0%,
    rgb(28, 180, 28) 40%,
    rgb(52, 233, 52) 90%,
    rgb(69, 69, 69) 100%
  );
  border-radius: 2px 2px 0 0;
  z-index: 993;
}

@media screen and (min-width: 800px) {
  #tube-for-the-button {
    width: 100px;
    left: calc(100% - 125px);
  }
}
